<div class="container">
    <div class="form-wrapper">
        <h2 class="mt-0">Matching Criteria</h2>
        <p>Select any one criteria to start matching!</p>
        <form #matchForm="ngForm" class="flex flex-column gap-3">

            <div class="form-field">
                <label for="topic">Topic</label>
                <p-dropdown
                    name="topic" 
                    [options]="topics" 
                    [(ngModel)]="selectedTopic" 
                    optionLabel="name" 
                    placeholder="Select a Topic"
                    class="p-fluid" />
            </div>

            <div class="form-field">
                <label for="difficulty">Difficulty</label>
                <p-dropdown
                    name="difficulty" 
                    [options]="difficulties" 
                    [(ngModel)]="selectedDifficulty" 
                    optionLabel="label" 
                    placeholder="Select a Difficulty"
                    class="p-fluid" />
            </div>

            <div class="form-field">
                <label for="programmingLanguage">Programming Language</label>
                <p-dropdown 
                    name="programmingLanguage"
                    [options]="programmingLanguages" 
                    [(ngModel)]="selectedProgrammingLanguage" 
                    placeholder="Select a Language" 
                    class="p-fluid" />
            </div>

            <p-button
                type="submit"
                [label]="isProcessingMatch ? '' : 'Start Matching'"
                [loading]="isProcessingMatch"
                [disabled]="selectedTopic == null && selectedDifficulty == null && selectedProgrammingLanguage == null"
                styleClass="w-full justify-content-center" />
        </form>
    </div>
</div>
