<div class="container">
    <div class="form-wrapper w-full sm:w-30rem">
        <h2 class="mt-0 mb-1">Matching Criteria</h2>
        <p class="mt-0">Select any one criteria to start matching!</p>
        <form #matchForm="ngForm" class="flex flex-column gap-3">
            <div class="form-field">
                <label for="topic">Topic</label>
                <p-multiSelect
                    name="topic"
                    [options]="topics"
                    [(ngModel)]="userCriteria.topics"
                    placeholder="No Topic Selected"
                    [loading]="isLoadingTopics"
                    [showClear]="true"
                    (onClear)="onSelectedTopicsClear()"
                    [maxSelectedLabels]="0"
                    selectedItemsLabel="{{ userCriteria.topics.length }} topic{{
                        userCriteria.topics.length > 1 ? 's' : ''
                    }} selected"
                    class="p-fluid" />

                @if (userCriteria.topics.length > 0) {
                    <div class="flex flex-wrap gap-2">
                        <p-chip
                            *ngFor="let topic of userCriteria.topics; let i = index"
                            [label]="topic"
                            removable="true"
                            (onRemove)="removeTopic(i)"
                            styleClass="text-sm" />
                    </div>
                }
            </div>

            <div class="form-field">
                <label for="difficulty">Difficulty</label>
                <p-dropdown
                    name="difficulty"
                    [options]="difficulties"
                    [(ngModel)]="userCriteria.difficulty"
                    placeholder="No Difficulty Selected"
                    [showClear]="true"
                    class="p-fluid" />
            </div>

            <p-button
                type="submit"
                [label]="isProcessingMatch ? '' : 'Start Matching'"
                [loading]="isProcessingMatch"
                [disabled]="userCriteria.topics.length === 0 && userCriteria.difficulty === null"
                (click)="onMatch()"
                styleClass="w-full justify-content-center" />
        </form>
    </div>

    <app-finding-match
        [isVisible]="isProcessingMatch"
        [userCriteria]="userCriteria"
        (matchFailed)="onMatchFailed()"
        (dialogClose)="onMatchDialogClose()" />
    <app-retry-matching
        [isVisible]="isMatchFailed"
        (retryMatch)="onRetryMatchRequest()"
        (dialogClose)="onRetryMatchDialogClose()" />
</div>
